.section10 {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url("../imgs/IMG_7687.JPG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* parallax effekt */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(1, 33, 82, 0.7); /* yarim shaffof overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.body10-container {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}
.stat-card {
    width: 208px;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem 1rem;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(30px);
}

.stat-card.animate {
    opacity: 1;
    transform: translateY(0);
}

.stat-number,
.stat-label {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.stat-number.animate,
.stat-label.animate {
    opacity: 1;
    transform: translateY(0);
}


.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.stat-number {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    animation: fadeInUp 1s ease forwards;
}

.stat-label {
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.9;
}

/* Raqam animatsiyasi */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 1140px) {
    .body10-container {
        display: grid;
        gap: 0.8rem;
        justify-content: center;
        padding: 0.5rem 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .section10 {
        display: block;
        min-height: 300px;
        padding: 1rem 0;
        height: 800px;
        background-position: top center;
    }
    
}
/* Responsive */
@media (max-width: 768px) {

    .section10 {
        display: block;
        min-height: 300px;
        padding: 1rem 0;
        height: 800px;
        background-position: top center;
    }
    .body10-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        justify-content: center;
        padding: 0.5rem 1rem;

    }

    .stat-card {
        width: 200px;
        padding: 1rem 0.8rem;
    }

    .stat-number {
        font-size: 1.8rem;
    }

    .stat-label {
        font-size: 0.85rem;
    }
}
